name: Action Workflow

on:
  schedule:
     - cron: "1 * * * *"

  pull_request:
     types: [closed, assigned, opened, reopened]

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List files
        run: |
          pwd
          ls -al
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"

      - name: Checkout
        uses: actions/checkout@v1

      - name: List files after Checkout
        run: |
          pwd
          ls -al

      - name: Simple javascript Action
        id: hello
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: devopshint

      - name: Get the output time
        run: echo "${{ steps.hello.outputs.time }}"